body {
  text-align: center;
  justify-content: center;
  margin-top: 90px;
  padding: 0;
  font-size: 30px;
}

/* react.js /css */

/* .container {
  width: 50%;
  margin: auto;
  font-size: 20px;
  box-shadow: 10px 10px 10px #3c81abbf;
  line-height: 1.5;
  padding: 10px;
}

.nav {
  justify-content: space-between;
  display: flex;
  align-items: center;
  box-shadow: 10px 10px 10px #3c81abbf;
}

.nav-items {
  display: flex;
  list-style: none;
}

.nav-items li {
  padding: 14px;
  font-size: 20px;
}

.image {
  width: 60px;
}

.foot {
  background-color: rgba(11, 11, 11, 0.359);
  height: 55px;
  text-align: center;
  padding-top: 15px;
} */


/* counter.js /css */

/* .btns {
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: space-around;
} */

/* todo.js /css */

.todo-container {
  background-color: #640b0b85;
  border-radius: 10px;
  width: 70%;
  margin: auto;
  height: fit-content;
  padding: 20px;
}

h1 {
  color: #2a0606b9;
}

input {
  height: 40px;
  width: 60%;
  font-size: 18px;
  background-color: #08080859;
  color: white;
  box-shadow: 10px 10px 10px black;
  border-radius: 8px;
}

button {
  height: 45px;
  width: 12%;
  font-size: 18px;
  background-color: #08080859;
  color: #f5e9d3cc;
  box-shadow: 5px 5px 5px black;
  border-radius: 8px
}

ol {
  width: 100%;
}

li {
  text-align: left;
  margin: 20px ;
  color: #2a0606b9;
  font-weight: 500;
}

.btn1 {
  margin-left: 30px;
}